h1 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.tweet {
  margin: 1rem;
}

.tweetauthor {
  font-weight: bold;
  color: blue;
}

.tweetDate {
  color: red;
}

.tweetText {
  color: grey;
}

.tweethastags {
  color: green;
}

.tweetOl {
}

.tweetLi {
  color: grey;
}

btn {
  background-color: grey;
  border: 1px solid greenyellow;
  float: right;
  font-size: 2rem;
  padding: 0.5rem;
}

li {
  margin: 1rem 0;
}

li span {
  margin-right: 1rem;
}
